@import './color';

.content {
	max-width: 70%;
	margin: auto;

	h1, h2 {
		max-width: max-content;
		text-underline-position: under;
		line-height: 3rem;
	}

	h1 {
		text-decoration: underline .2rem $green;
	}

	h2 {
		text-decoration: underline .2rem $orange;
	}

	.date {
		color: $subTextColor;
		font-weight: bold;
	}

	a {
		color: $blue;
		text-decoration: none;
		transition: .1s ease-in-out;
		padding: 0 .05rem 0 .05rem;
		word-wrap: break-word;

		&::after {
			display: inline;
		}

		&:hover {
			background-color: $light-background;
		}
	}


	img {
		width: 30%;
	}

	pre {
		display: flex;
	}

	code {
		width: 100%;
		background-color: $dark-background;
		color: $subTextColor;
		padding: 1rem;
		margin: auto;
		border: dashed .2rem $subTextColor;
	}
}
