.content {
	max-width: 70%;
	margin: auto;

	h1, h3 {
		max-width: max-content;
	}

	h1::after {
		content: "";
		position: relative;
		display: block;
		height: .5vh;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #b8bb26;
	}

	h3::after {
		content: "";
		position: relative;
		display: block;
		height: .5vh;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #fe8019;
	}

	a {
		color: #458588;
		text-decoration: none;
		transition: .1s ease-in-out;
		padding: 0 .05rem 0 .05rem;
		word-wrap: break-word;

		&::after {
			display: inline;
		}
	}

	p a:hover {
		background-color: #3c3836;
	}

	img {
		width: 30%;
	}

	pre {
		display: flex;
	}

	code {
		width: 100%;
		background-color: #1d2021;
		color: #d5c4a1;
		padding: 1rem;
		margin: auto;
		border-radius: .5rem;
		border: 2px #79740e solid;
	}
}
