@import 'color.scss';

.index {
	width: 100%;
	display: flex;
	flex-direction: column;

	.index_content {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 13vh;
			height: 13vh;
			border-radius: 40%;
			border-style: solid;
			border-color: $textColor;
			margin-right: 1rem;
		}

		h1 {
			font-size: 3vh;
			margin: 0;
			padding: 0;
		}

		h2 {
			font-size: 3vh;
			margin: 0;
			padding: 0;
		}

	}

	ul {
		list-style: none;
		display: flex;
		align-self: center;
		width: 100%;
		justify-content: flex-end;

		li {
			width: 2.5rem;
			height: 2.5rem;
			margin: 0 1rem;

			a {
				width: 100%;
				height: 100%;
				font-size: 50px;
				&:hover {background: none;}

				svg {
					fill: $textColor;
					transition: .2s ease-in-out;
					width: 100%;
					height: 100%;

					&:hover {
						fill: $red;
					}

					&:hover {
						fill: $blue;
					}
				}
			}
		}

		align-items: center;
	}

}


@media all and (max-width: 50em) {
	.index_content {
		display: block;
		text-align: center;
	}

	.index ul {
		width: 100%;
		padding: 0;
		justify-content: center;
	}

	.index ul li {
		width: 2rem;
		height: 2rem;
	}
}
