@import "tailwindcss";

@theme {
  --font-heading: var(--font-geo);
  --font-content: var(--font-inter);
  --font-handdrawn: var(--font-delicious);

  --color-bg: #1F1F28;
  --color-fg: #cdd6f4;
  --color-bg-dim: #434356;
  --color-fg-dim: #9399b2;
  --color-accent-red: #f38ba8;
  --color-accent-peach: #fab387;
  --color-accent-green: #a6e3a1;
  --color-accent-sky: #89dceb;
  --color-accent-rosewater: #f5e0dc;
  --color-black: #000;
  --color-transparent: transparent;

  --animate-float: float 2s infinite;
  --animate-text: text 5s ease infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0px)
    }
    50% {
      transform: translateY(-5px)
    }
  }

  @keyframes text {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

@layer base {
  * {
    @apply font-content;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
