html {
	font-family: "IBM Plex Mono";
	width: 100%;
	height: 99%;
	overflow-x: hidden;
	background-color: #282828;
}

body {
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

p, h1, h2, h3 {
	color: #ebdbb2;
}

h1, h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1rem;
	color: #a89984;
}

nav a {
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
}

footer {
	text-align: center;
}

ul {
	list-style: none;
}

.post-snippet {
	padding: 2vh;
	border-radius: 1em;
}

.post-snippet h3 {
	margin: 0;
}

.post-snippet p {
	margin: 0;
	text-align: right;
}

@media all and (max-width: 50em) {
	nav a {
		font-size: 1rem;
	}
}
